[submodule "static/jquery.form"]
	path = static/jquery.form
	url = https://github.com/malsup/form.git
[submodule "static/jquery.selectbox"]
	path = static/jquery.selectbox
	url = https://github.com/revsystems/jQuery-SelectBox.git
