body {
  background-color: #FFE5CF;
  color: black;
  text-align: left;
  position: relative;
  font-family: sans-serif;
  font-size:13px;
}

a { text-decoration: none; font-weight: bold; }
a[href]:link { color: rgb(196,69,29); }
a[href]:visited { color: rgb(171,105,84); }
a[href]:hover { text-decoration:underline; }

h1 { font-size: 131%; /* 17pt */ }





td.constructorTools {
  text-align: center;
  vertical-align: top;
  padding: 3px;
  min-width: 15px;
}

td.typeTools {
  text-align: center;
  vertical-align: top;
  padding: 3px;
  min-width: 15px;
}



td.typeName {
  vertical-align: top;
  padding: 4px;
}

.button {
  cursor: pointer;
  color: black;
  opacity: 0.2;
  display: block;
}

.first
{
  background-color: #FF7070;
  color: #D43131;
  border-bottom: 1px solid red;
}

.button.undefined
{
  color:   red;
  opacity: 1.0;
}

.constructorSelection {
  background-color: #eeffcc;
  border: none;
}

td.constructorName {
  background-color: #eeffcc;
  color:            black;
  vertical-align:   top;
  border: 1px solid #ccddaa;
  white-space: nowrap;
  overflow: hidden;
  padding: 3px;
}

td.constructorName.undefined {
  background-color: #FF7070 ;
  border: 1px solid red;
  color: #D43131;
  padding-left: 25px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}

td.constructorName.undefinedHint
{
  border-left: 1px solid red;
}

td.function {
  background-color: #FFF1BA;
  color:            #A38A26;
  vertical-align:   top;
  padding:          3px;
  border: 1px solid #ddd19a;
}

td.type {
  background-color: #FFE5CF;
  vertical-align: top;
}


