body {
  background-color: #FFE5CF;
  color: black;
  text-align: left;
  position: relative;
  font-family: sans-serif;
  font-size:13px;
}

a { text-decoration: none; font-weight: bold; }
a[href]:link { color: rgb(196,69,29); }
a[href]:visited { color: rgb(171,105,84); }
a[href]:hover { text-decoration:underline; }

h1 { font-size: 131%; /* 17pt */ }





div.tools {
  float:        left;
  position:     relative;
  text-align: center;
  padding:      1px;
  margin-left:  5px;
  margin-right: 3px;
}

div.constructorName {
  position: relative;
  float: left;
  padding: 3px;
}

div.typeName {
  position: relative;
  float: left;
  padding: 3px;
}

.button {
  cursor: pointer;
  color: black;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.constructorSelection {
  background-color: #eeffcc;
  border: none;
}

td.constructor {
  background-color: #eeffcc;
  color:            black;
  vertical-align:   top;
  border: 1px solid #ccddaa;
}

td.function {
  background-color: #FFF1BA;
  color:            #A38A26;
  vertical-align:   top;
  padding:          3px;
  border: 1px solid #ddd19a;
}

td.type {
  background-color: #FFE5CF;
}


